<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add home to airbnb</title>
</head>
<body>
    <header>
        <h1>Register Your Home name</h1>
    </header>
    <main>
        <form action="/host/add-home" method="POST">
        <input type="text" name="HouseName" placeholder="Enter the name of your House"><br><br>
        <input type="submit" value="Submit">
        </form>
    </main>
</body>
</html>