<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Home Added successfully</title>
</head>
<body>
      <header class="bg-red-500 text-white shadow-md p-4">

      <nav class="container ms-auto flex flex-row items-center gap-7">
        <ul>
          <li>
            <a href="/">Go to Home</a>
          </li>
        </ul>
        <ul>
           <li>
            <a href="/host/add-home">Add Home</a>
          </li>
        </ul>
      </nav>
    </header>
    <div class="flex justify-center items-center p-5">
        <div class="w-3xl h-40 bg-white-500 rounded-lg shadow-2xl p-10 mt-8 flex flex-col gap-4 justify-center items-center">
            <h1 class="text-green-600 text-4xl font-extrabold ">Home Registered Successfully</h1>
            <p>Your home has been added to our listings.</p>
            <a href="/" class="bg-red-500 text-white rounded-lg w-28 text-center font-extrabold">Go to Home</a>
        </div>
    </div>
</body>
</html>