
<%- include('partials/head') %>
</head>
<body>

    <%- include('partials/nav') %>
    <main class="mt-10 flex justify-center items-center p-3">
        <div class="w-2/5 h-auto bg-white-500 rounded-lg shadow-2xl p-10 ">
            
            <form class="flex flex-col justify-center items-center gap-5" action="/host/add-home" method="POST">
                <h1 class="text-black text-3xl font-extrabold">Register Your Home on airbnb</h1>

                <div class="flex flex-col w-105 gap-1">
                    <label for="HouseName" class="font-semibold">House Name :</label>
                    <input class="border w-105  py-2 px-3 rounded-md focus:outline-none focus:ring focus:ring-red-500"  type="text" id="HouseName" name="HouseName" placeholder="Enter the name of your House">
                </div>
                <div class="flex flex-col w-105 gap-1">
                    <label for="price" class="font-semibold">Price :</label>
                    <input class="border w-105  py-2 px-3 rounded-md focus:outline-none focus:ring focus:ring-red-500"  type="text" id="price" name="price" placeholder="Price per night">
                </div>

                <div class="flex flex-col w-105 gap-1">
                    <label for="location" class="font-semibold">Location :</label>
                    <input class="border w-105  py-2 px-3 rounded-md focus:outline-none focus:ring focus:ring-red-500"  type="text" id="location" name="location" placeholder="location">
                </div>
                
                <div class="flex flex-col w-105 gap-1">
                    <label for="rating" class="font-semibold">Rating :</label>
                    <input class="border w-105  py-2 px-3 rounded-md focus:outline-none focus:ring focus:ring-red-500"  type="text" id="rating" name="rating" placeholder="rating">
                </div>

                <div class="flex flex-col w-105 gap-1">
                    <label for="photoUrl" class="font-semibold">Photo URL :</label>
                    <input class="border w-105  py-2 px-3 rounded-md focus:outline-none focus:ring focus:ring-red-500"  type="text" id="photoUrl" name="photoUrl" placeholder="Enter Photo URL">
                </div>
                
                
                <input class="w-105 p-2 bg-red-500 text-amber-50 rounded-xl text-xl font-semibold cursor-pointer" type="submit" value="Submit">
            </form>
        </div>
    </main>
</body>
</html>