
<%- include('partials/head') %>
</head>
<body>


   <%- include('partials/nav') %>
    <div class="flex justify-center items-center p-5">
        <div class="w-3xl h-40 bg-white-500 rounded-lg shadow-2xl p-10 mt-8 flex flex-col gap-4 justify-center items-center">
            <h1 class="text-green-600 text-4xl font-extrabold ">Home Registered Successfully</h1>
            <p>Your home has been added to our listings.</p>
            <a href="/" class="bg-red-500 text-white rounded-lg w-28 text-center font-extrabold">Go to Home</a>
        </div>
    </div>
</body>
</html>